doctype html

html(lang='en')
  include ./header.jade
  
  body
    header#header
      div.container
        p.logo CSS Wireframes
    
    main#content
      div.container
        block content

    footer#footer
      div.container
